<!DOCTYPE html>
<html>

<head>
  <title><%= name %> wünscht sich <%= wish %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <h1><%= name %> wünscht sich <%= wish %></h1>
  <p>Dein Wunsch <b><%= wish %></b> für <b><%= name %></b> wurde gespeichert. In dem du für den gleichen Namen einen neuen Wunsch einträgst, wird der
    alte Wunsch ersetzt.</p>
  <a href="/">Zurück zur Startseite</a>
</body>

</html>