<!DOCTYPE html>
<html>

<head>
  <title><%= name %> wünscht sich <%= wish %></title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="stylesheets/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
  <h1><%= name %> wünscht sich <%= wish %></h1>
  <p>Dein Wunsch <b><%= wish %></b> für <b><%= name %></b> wurde gespeichert. In dem du für den gleichen Namen einen neuen Wunsch einträgst, wird der
    alte Wunsch ersetzt.</p>
  <a href="/">Zurück zur Startseite</a>
</body>

</html>